<head>
  <title>This is the title of my website</title>

  <!-- META -->

  <meta name="viewpoint" content="width-device-width, user-scalable=0" />

  <!-- CSS -->

  <link rel="stylesheet" href="assets/css/vendor/normalize.8.0.0.min.css" />
  <link rel="stylesheet" href="assets/css/vendor/gridlex.2.6.1.min.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat" />
  <link rel="stylesheet" href="assets/css/main.css" />
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
</head>
