/* -------- CSS RESET -------- */

* {
  margin: 0;
  padding: 0;
  box-sizing; border-box;
  font-family: 'Montserrat', sans-serif;
}

* {
  /* border: 1px solid yellow; */
}

img {
  max-width: 100%;
  height: auto;
}

section {
  min-height: 100vh;
}

body {
  overflow-x: hidden;
}

/* -------- GENERAL HELPER CLASSES -------- */

.left {
  text-align: left;
}

.centered {
  text-align: center;
}

.right {
  text-align: right;
}

.no-padding {
  padding: 0;
}

.med-height {
  min-height: 50vh;
}

.full-height {
  height: 100vh;
}

.bg-primary {
  background-color: #292929; /* grey */
}

.bg-secondary {
  background-color: #f7484e; /* coral pink */
}

.bg-cover {
  background-size: cover;
  background-position: center;
}

.overflow-hidden {
  overflow: hidden;
}


/* HELPERS PADDING */

.padding-all {
  padding: 1rem;
}

.padding-all-l {
  padding: 2rem;
}

.padding-all-xl {
  padding: 4rem;
}

.padding-top-bottom {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.padding-left-right {
  padding-left: 1rem;
  padding-right: 1rem;
}

/* POSITIONING */

.display-block {
  display: block;
}

.display-inline-block {
  display: inline-block;
}

/* FILLERS */

.fill-vertical {
  flex-grow: 1;
}


/* -------- LAYOUT -------- */

/* -------- TYPOGRAPHY -------- */

/* -------- GENERAL STYLES -------- */

nav {
  text-align: center;
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  border: solid 2px transparent;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: inline-block;
  margin-bottom: 1.5rem;
}

nav a:hover {
  border-bottom: solid 2px white;
}

nav span {
  display: inline-block;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

h2 {
  font-size: 4rem;
  color: black;
}


/* -------- HEADER -------- */

header {
  min-height: 100vh;
}

h1 {
  font-size: 5rem;
  color: white;
}

header a {
  color: #f7484e
}




/* -------- ABOUT -------- */



/* -------- PORTFOLIO -------- */

#portfolio nav a:hover {
  border-bottom: solid 2px #f7484e;
}

#portfolio article a {
  color: white;
  text-decoration: none;
  background-color: black;
  display: inline-block;
  line-height: 60px;
  width: 60px;
  height: 60px;
  border-radius: 60px;
}

/* -------- CONTACT -------- */

#contact h2,
#contact nav a {
  color: white;
}

/* -------- FOOTER -------- */

footer {
  min-height: 100vh;
}

footer a {
  color: black;
}

h4 {
  font-size: 5rem;
  color: white;
}
