/* -------- CSS RESET -------- */

* {
  margin: 0;
  padding: 0;
  box-sizing; border-box;
  font-family: 'Nunito', sans-serif;

}

* {
  /* border: 1px solid grey; */
}

img {
  max-width: 100%;
  height: auto;
}

section {
  min-height: 100vh;
}

body {
  overflow-x: hidden;
}

/* -------- GENERAL HELPER CLASSES -------- */

.left {
  text-align: left;
}

.centered {
  text-align: center;
}

.right {
  text-align: right;
}

.no-padding {
  padding: 0;
}

.med-height {
  min-height: 50vh;
}

.full-height {
  height: 100vh;
}

.bg-primary {
  background-color: #292929; /* grey */
}

.bg-secondary {
  background-color: #4ECDC4; /* green */
}

.bg-cover {
  background-size: cover;
  background-position: center;
}

.overflow-hidden {
  overflow: hidden;
}


/* HELPERS PADDING */

.padding-all {
  padding: 1rem;
}

.padding-all-l {
  padding: 2rem;
}

.padding-all-xl {
  padding: 4rem;
}

.padding-top-bottom {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.padding-left-right {
  padding-left: 1rem;
  padding-right: 1rem;
}

/* POSITIONING */

.display-block {
  display: block;
}

.display-inline-block {
  display: inline-block;
}

/* FILLERS */

.fill-vertical {
  flex-grow: 1;
}


/* -------- LAYOUT -------- */

/* -------- TYPOGRAPHY -------- */

/* -------- GENERAL STYLES -------- */

nav {
  text-align: center;
}

nav a {
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  border: solid 2px transparent;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: inline-block;
  margin-bottom: 1.5rem;
  font-weight: 700;
}

body.layout-project nav a {
  margin-bottom: 0;
}

nav a:hover {
  border-bottom: solid 2px white;
}

body.layout-project nav a:hover {
  border-color: transparent;
}

nav span {
  display: inline-block;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

h2 {
  font-size: 4rem;
  color: black;
}


/* -------- HEADER -------- */

body.layout-home header {
  min-height: 100vh;
}

h1 {
  font-size: 5rem;
  color: white;
}

header a {
  color: #4ECDC4
}

#typed {
  color: white;
  font-size: 4rem;
}

header span {
  color: #4ECDC4
}



/* -------- PROJECT -------- */

/* body p {
  color: white;
  margin-left: 2em;
} */

body nav {
  margin-right: 2em;
}

.project {
  max-width: 900px;
  margin: auto;
  text-align: center;
}

.project h1 {
  color: black;
  font-size: 3.25rem;
  text-transform: uppercase;
  /* border-bottom: solid 4px #E8E8E8; */
}

.project p {
  margin-left: 3em;
  margin-right: 3em;
  margin-bottom: 3em;
}

.project img {
  margin-bottom: 1em;
}


/* -------- ABOUT -------- */

#about h2 {
  color: white;
  border-bottom: solid 4px #86E2D5;
}

#about .arrow {
  color: #86E2D5
}

#about p {
  margin-bottom: 2em;
}


/* -------- PORTFOLIO -------- */

#portfolio nav a:hover {
  border-bottom: solid 2px #4ECDC4;
}

#portfolio article {
  position: relative;
  background-color: black;
}

#portfolio article a {
  text-decoration: none;
  background-color: #4ECDC4;
  display: inline-block;
  line-height: 60px;
  width: 60px;
  height: 60px;
  border-radius: 60px;
  font-size: .75rem;
  color: white;
  text-transform: uppercase;
}

#portfolio article h3 {
  font-size: 2rem;
  margin-bottom: .15em;
  color: white;
  text-transform: uppercase;
}

#portfolio article p {
  font-size: .75rem;
  margin-bottom: 1em;
  color: white;
  text-transform: uppercase;
}

#portfolio .arrow {
  color: #E8E8E8;
}

#portfolio h2 {
  border-bottom: solid 4px #E8E8E8;
}

.article-text {
  position: relative;
  z-index: 2;
}

.article-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  z-index: 1;
}


/* -------- CONTACT -------- */

#contact nav a {
  color: #4ECDC4;
}

#contact span {
  color: #4ECDC4
}

#contact h2 {
  color: white;
  border-bottom: solid 4px #555555;
 }

#contact .arrow {
  color: #555555;
}


/* -------- FOOTER -------- */


footer {
  min-height: 100vh;
}

footer a {
  color: black;
}

h4 {
  font-size: 5rem;
  color: white;
}
