<!DOCTYPE html>
<html>
  {% include head.html %}

  <!-- MAKE YOUR WEBSITE HERE -->

  <body>
    <!-- HEADER -->
    <header>
      <div>
        <img src="assets/img/logo.jpg"> <!-- LO. A Design Studio logo to go here -->
      </div>
      <nav>
        <a href="#">about</a>
        <a href="#">portfolio</a>
        <a href="#">contact</a>
      </nav>
    </header>

    {{ content }}

    <!-- FOOTER SECTION -->
    <footer>
      <i class="fab fa-instagram"></i>
      <i class="fab fa-linkedin-in"></i>
    </footer>

    {% include footer.html %}
  </body>
</html>
