<!DOCTYPE html>
<html>
  {% include head.html %}

  <body class="layout-{{ page.layout }}">
    <!-- HEADER -->
    <header class="bg-primary grid-column-spaceBetween">
      <div class="col-12 grid-middle fill-vertical">
        <div class="col-12">
          <h1>LO. A Design Studio</h1>
          <!-- <img src="assets/img/lynn.jpg"/> -->
        </div>
      </div>
      <nav class="col-12">
        {% include nav.html %}
      </nav>
    </header>

    {{ content }}

    <footer class="bg-secondary grid-column-spaceBetween">
      <div class="col-12 grid-middle fill-vertical">
        <div class="col-12">
          <h4>Image to go here</h4>
          <!-- <img src="assets/img/lynn.jpg"/> -->
        </div>
      </div>
      <nav class="col-12">
        {% include nav.html %}
      </nav>
    </footer>

    {% include javascripts.html %}
  </body>
</html>
