<!DOCTYPE html>
<html>
  {% include head.html %}

  <body class="layout-{{ page.layout }}">
    <!-- HEADER -->
    <header class="bg-primary grid-column-spaceBetween">
      <div class="col-12 grid-middle fill-vertical">
        <div class="col-12">
          <div id="typed-strings">
            <p>Welcome <strong>fun</strong> people.</p>
            <p>This is my <em> nifty</em> website.</p>
          </div>
        <span id="typed"></span>
        </div>
      </div>
      <nav class="col-12">
        {% include nav.html %}
      </nav>
    </header>

    {{ content }}

    <footer class="bg-primary grid-column-spaceBetween">
      <div id="bg" class="bg-cover"></div>
      <div class="col-12 grid-middle fill-vertical">
        <div class="col-12 text">
          Thank you.
        </div>
      </div>
      <nav class="col-12">
        {% include nav.html %}
      </nav>
    </footer>

    {% include javascripts.html %}
  </body>
</html>
