<!DOCTYPE html>
<html>
  {% include head.html %}

  <body class="layout-{{ page.layout }}">
    <header class="bg-primary grid-spaceBetween-noBottom">
      <p>LO. A Design Studio</p>
      <nav>
        <a href="#">home</a>
        <span class="slash-color">/</span>
        {% include nav.html %}
      </nav>
    </header>

    <section class="project">
      <h1>{{ page.title }}</h1>
      <p>{{ page.description }}</p>

      {% for image in page.images %}
      <img src="{{ image.path }}" alt="{{ image.alt }}">
      {% endfor %}

      </div>

      <!-- <div class-"bg-image" style="background-image:url('{{ page.image-inline-1 }}')">
      </div> -->
    </section>

    {% include javascripts.html %}
  </body>
</html>
